<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <ul>
            <!-- <li v-for="item in items">
                {{ item.text }} -->
            <!-- <li v-for="(item, index) in items">
                {{ item.text }} &mdash; {{index}}
            </li> -->
            <li v-for="i in n">
                {{ i * 2 }}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>